# Ignore data folder and large files
data/

*.zip
*.tar.gz

# Python cache and env
__pycache__/
*.pyc
venv/
.env/

# System files
.DS_Store
/data

# Ignore large model files, but not the directory structure
models/**/*.pth

# But DO NOT ignore the DVC pointer files or placeholder .gitignore files
!models/**/*.dvc
!models/**/.gitignore

mlruns/
outputs/

# Metaflow artifacts and metadata
.metaflow/
.metaflowconfig/
metaflow_runs/
*.metaflow
.metaflow_*

# Pipeline reports
pipeline_report_*.json